.grafico--contabilidade {
  border-radius: 10%;
  width: 77%;
  text-align: center;
}
.monitore__seu__negócio {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  margin: 2rem;
}

.titulo__monitore__seu__negocio {
  font-size: var(--font-size-titulo);
  font-weight: 600;
  margin: 1em 0 4em 0;
}

.paragrafo__monitore__seu__negocio {
  width: auto;
  font-size: var(--font-texto);
  font-weight: 400;
}
